.container {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  justify-content: center; /* Horizontally center the child elements */
  align-items: center; /* Vertically center the child elements */
  height: 100vh; /* Set the container height to the full viewport height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.entry-field{
  align-items: center;
  padding: 4px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(189, 9, 189);
  border-radius: 4px;
  background-color: rgb(77, 46, 77);
}

.Entry{
  align-items: baseline;
}

.number{
  color: rgb(200, 102, 200);
}